In [62]:
import pandas as pd
import numpy as np

# Limpiando Data

In [63]:
df_data_historica = pd.read_csv('fifa_worldcup_historical_data.csv')
df_fixture = pd.read_csv('fifa_worldcup_fixture1.csv')
df_data_historica

           home         score      away  year
0       France            4–1    Mexico  1930
1    Argentina            1–0    France  1930
2        Chile            3–0    Mexico  1930
3        Chile            1–0    France  1930
4    Argentina            6–3    Mexico  1930
..          ...           ...       ...   ...
896     Russia   2–2 (a.e.t.)   Croatia  2018
897     France            1–0   Belgium  2018
898    Croatia   2–1 (a.e.t.)   England  2018
899    Belgium            2–0   England  2018
900     France            4–2   Croatia  2018

[901 rows x 4 columns]

# Limpiamos los datos df_fixture

In [64]:
df_fixture['home'] = df_fixture['home'].str.strip() #strip sirve para limpiar los espacios en blanco
df_fixture['away'] = df_fixture['away'].str.strip() #strip sirve para limpiar los espacios en blanco

df_fixture

                home     score              away  year
0              Qatar   Match 1           Ecuador  2022
1            Senegal   Match 2       Netherlands  2022
2              Qatar  Match 18           Senegal  2022
3        Netherlands  Match 19           Ecuador  2022
4            Ecuador  Match 35           Senegal  2022
..               ...       ...               ...   ...
59  Winners Match 51  Match 59  Winners Match 52  2022
60  Winners Match 57  Match 61  Winners Match 58  2022
61  Winners Match 59  Match 62  Winners Match 60  2022
62   Losers Match 61  Match 63   Losers Match 62  2022
63  Winners Match 61  Match 64  Winners Match 62  2022

[64 rows x 4 columns]

# Limpiamos Df_Data_Historica

In [65]:
df_data_historica[df_data_historica['home'].isnull()]
df_data_historica.dropna(inplace=True)
#buscamos los partidos que son de suecia
df_data_historica[df_data_historica['home'].str.contains('Sweden') & 
                  df_data_historica['away'].str.contains('Austria')]
# encontramos un partido que el score es una cadena de texto que nos afectara 
df_data_historica

           home         score      away  year
0       France            4–1    Mexico  1930
1    Argentina            1–0    France  1930
2        Chile            3–0    Mexico  1930
3        Chile            1–0    France  1930
4    Argentina            6–3    Mexico  1930
..          ...           ...       ...   ...
896     Russia   2–2 (a.e.t.)   Croatia  2018
897     France            1–0   Belgium  2018
898    Croatia   2–1 (a.e.t.)   England  2018
899    Belgium            2–0   England  2018
900     France            4–2   Croatia  2018

[901 rows x 4 columns]

In [66]:
#Vamos a eliminar el dato de nuestro dara frame
index_eliminar = df_data_historica[df_data_historica['home'].str.contains('Sweden') & 
                  df_data_historica['away'].str.contains('Austria')].index
index_eliminar

Index([37], dtype='int64')

In [67]:
df_data_historica.drop(index=index_eliminar, inplace=True)

In [68]:
df_data_historica[df_data_historica['home'].str.contains('Sweden') & 
                  df_data_historica['away'].str.contains('Austria')]
#Verificamos que el dato ya no este en nuestro dataframe

Empty DataFrame
Columns: [home, score, away, year]
Index: []

In [69]:
df_data_historica[df_data_historica['score'].str.contains('[^\d-]')]
##buscamos los partidos que tengan (a.e.t) para eliminar y dejar solo el marcador

           home         score      away  year
0       France            4–1    Mexico  1930
1    Argentina            1–0    France  1930
2        Chile            3–0    Mexico  1930
3        Chile            1–0    France  1930
4    Argentina            6–3    Mexico  1930
..          ...           ...       ...   ...
896     Russia   2–2 (a.e.t.)   Croatia  2018
897     France            1–0   Belgium  2018
898    Croatia   2–1 (a.e.t.)   England  2018
899    Belgium            2–0   England  2018
900     France            4–2   Croatia  2018

[900 rows x 4 columns]

In [70]:

df_data_historica['score'] = df_data_historica['score'].str.replace('\s*\([^)]*\)', '', regex=True)


df_data_historica

           home score      away  year
0       France    4–1    Mexico  1930
1    Argentina    1–0    France  1930
2        Chile    3–0    Mexico  1930
3        Chile    1–0    France  1930
4    Argentina    6–3    Mexico  1930
..          ...   ...       ...   ...
896     Russia    2–2   Croatia  2018
897     France    1–0   Belgium  2018
898    Croatia    2–1   England  2018
899    Belgium    2–0   England  2018
900     France    4–2   Croatia  2018

[900 rows x 4 columns]

In [71]:
df_data_historica['score'] = df_data_historica['score'].astype(str)

df_data_historica[df_data_historica['score'].str.contains('a.e.t')]

#Aqui ya tenemos los score sin las siglas a.e.t

Empty DataFrame
Columns: [home, score, away, year]
Index: []

In [72]:
df_data_historica['home'] = df_data_historica['home'].str.strip() #strip sirve para limpiar los espacios en blanco
df_data_historica['away'] = df_data_historica['away'].str.strip() #strip sirve para limpiar los espacios en blanco

df_data_historica

          home score     away  year
0       France   4–1   Mexico  1930
1    Argentina   1–0   France  1930
2        Chile   3–0   Mexico  1930
3        Chile   1–0   France  1930
4    Argentina   6–3   Mexico  1930
..         ...   ...      ...   ...
896     Russia   2–2  Croatia  2018
897     France   1–0  Belgium  2018
898    Croatia   2–1  England  2018
899    Belgium   2–0  England  2018
900     France   4–2  Croatia  2018

[900 rows x 4 columns]

# se separa los datos de score

In [73]:
df_data_historica[['HomeGoals','AwayGoals']] = df_data_historica['score'].str.split('–', expand=True)

df_data_historica

          home score     away  year HomeGoals AwayGoals
0       France   4–1   Mexico  1930         4         1
1    Argentina   1–0   France  1930         1         0
2        Chile   3–0   Mexico  1930         3         0
3        Chile   1–0   France  1930         1         0
4    Argentina   6–3   Mexico  1930         6         3
..         ...   ...      ...   ...       ...       ...
896     Russia   2–2  Croatia  2018         2         2
897     France   1–0  Belgium  2018         1         0
898    Croatia   2–1  England  2018         2         1
899    Belgium   2–0  England  2018         2         0
900     France   4–2  Croatia  2018         4         2

[900 rows x 6 columns]

In [74]:
df_data_historica.drop('score', axis=1, inplace=True)

In [75]:
df_data_historica.rename(columns={'home':'HomeTeam','away':'AwayTeam','year':'Year'},inplace=True)
df_data_historica[df_data_historica]

ValueError: Boolean array expected for the condition, not object

In [ ]:
##Verificamos el tipo  de dato

df_data_historica.dtypes

HomeTeam     object
AwayTeam     object
Year          int64
HomeGoals    object
AwayGoals    object
dtype: object

In [ ]:


# Verificar si los valores son numéricos utilizando pd.to_numeric()
numeric_values = pd.to_numeric(df_data_historica['HomeGoals'], errors='coerce')
non_numeric_values = df_data_historica['HomeGoals'][numeric_values.isna()]

# Mostrar los valores no numéricos
print("Valores no numéricos:")
print(non_numeric_values)

# Verificar si los valores son numéricos utilizando pd.Series.str.isnumeric()
non_numeric_values = df_data_historica['HomeGoals'][~df_data_historica['HomeGoals'].str.isnumeric()]

# Mostrar los valores no numéricos
print("Valores no numéricos:")
print(non_numeric_values)
fila = df_data_historica.loc[df_data_historica['HomeGoals'] == '3-3']
print(fila)

Valores no numéricos:
358    3-3
Name: HomeGoals, dtype: object
Valores no numéricos:
358    3-3
Name: HomeGoals, dtype: object
         HomeTeam AwayTeam  Year HomeGoals AwayGoals
358  West Germany   France  1982       3-3      None

In [ ]:


# Reemplazar el valor '3-3' manualmente para la fila 358
df_data_historica.loc[358, 'HomeGoals'] = '3'
df_data_historica.loc[358, 'AwayGoals'] = '3'

# Convertir las columnas a tipo numérico
df_data_historica[['HomeGoals', 'AwayGoals']] = df_data_historica[['HomeGoals', 'AwayGoals']].apply(pd.to_numeric, errors='coerce')

# Verificar los valores no numéricos nuevamente
non_numeric_values = df_data_historica['HomeGoals'][df_data_historica['HomeGoals'].isna()]
print("Valores no numéricos:")
print(non_numeric_values)

# Imprimir el DataFrame actualizado
#Verificamos que ya no este el error
print(df_data_historica)
fila = df_data_historica.loc[df_data_historica['HomeGoals'] == '3-3']
print(fila)

Valores no numéricos:
Series([], Name: HomeGoals, dtype: int64)
      HomeTeam AwayTeam  Year  HomeGoals  AwayGoals
0       France   Mexico  1930          4          1
1    Argentina   France  1930          1          0
2        Chile   Mexico  1930          3          0
3        Chile   France  1930          1          0
4    Argentina   Mexico  1930          6          3
..         ...      ...   ...        ...        ...
896     Russia  Croatia  2018          2          2
897     France  Belgium  2018          1          0
898    Croatia  England  2018          2          1
899    Belgium  England  2018          2          0
900     France  Croatia  2018          4          2

[900 rows x 5 columns]
Empty DataFrame
Columns: [HomeTeam, AwayTeam, Year, HomeGoals, AwayGoals]
Index: []

In [ ]:
df_data_historica = df_data_historica.astype({'HomeGoals': int, 'AwayGoals': int, 'Year':int})
df_data_historica.dtypes

HomeTeam     object
AwayTeam     object
Year          int32
HomeGoals     int32
AwayGoals     int32
dtype: object

# Exportamos los dataframes limpios

In [ ]:
df_data_historica.to_csv('clean_fifa_worldcup_marches.csv', index = False )
df_fixture.to_csv('clean_fifa_worldcup_fixture.csv', index = False )

In [ ]:
#verificar numero de los partidos

years = [1930, 1934, 1938, 1950, 1954, 1958, 1962, 1966, 1970, 1974,
         1978, 1982, 1986, 1990, 1994, 1998, 2002, 2006, 2010, 2014,
         2018]

for year in years:
    print(year, len(df_data_historica [df_data_historica['Year']==year]))

1930 18
1934 17
1938 18
1950 22
1954 26
1958 35
1962 32
1966 32
1970 32
1974 38
1978 38
1982 52
1986 52
1990 52
1994 52
1998 64
2002 64
2006 64
2010 64
2014 64
2018 64